@model api.Models.LoginModel

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <style>
        .button {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #3182ce;
            color: white;
            padding: 12px 20px;
            border-radius: 8px;
            font-weight: bold;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

            .button:hover {
                background-color: #2b6cb0;
            }
    </style>
</head>
<body class="bg-gray-100 min-h-screen flex items-center justify-center max-w-lg">

    <div class="bg-white p-8 rounded-lg shadow-lg max-w-sm w-full">
        <h1 class="text-2xl font-semibold text-center mb-6 text-gray-700">Login</h1>

        <form id="loginForm" asp-action="Login" asp-controller="Auth" method="post">
            <div class="mb-4">
                <label for="Email" class="block text-sm font-medium text-gray-600">Email</label>
                <input asp-for="Email" type="email" id="Email" class="w-full px-4 py-2 mt-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" required />
                <span asp-validation-for="Email" class="text-red-500 text-sm"></span>
            </div>

            <div class="mb-6">
                <label for="Password" class="block text-sm font-medium text-gray-600">Senha</label>
                <input asp-for="Password" type="password" id="Password" class="w-full px-4 py-2 mt-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" required />
                <span asp-validation-for="Password" class="text-red-500 text-sm"></span>
            </div>

            <div class="button" onclick="handleLoginClick()">
                Entrar
            </div>

            <p>Não tem uma conta? <a asp-controller="Auth" asp-action="Register">Registrar-se</a></p>
        </form>
    </div>

    <script>
        function handleLoginClick() {
           
            document.getElementById("loginForm").submit();

            // Coloquei essa function para ir direto, pois não consegui terminar a parte de autenticação
            window.location.href = '/Tarefa/Index';
        }
    </script>

</body>
</html>
